body {
    background-color: rgb(151, 243, 255);
    font-family: "Courier New", Courier, monospace
}

#banner{
    border: 1px solid black;
    width: auto;
    height: 200px;
    position: relative;
    background-color: gray;
}

#buttons{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid white;
    border-bottom-width: 1px;
    padding: 15px 32px;
    background-color: greenyellow;
    text-align: center;
}
div {
    box-sizing: border-box;
}

div.page{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-bottom-width: 1px;
    background-color: solid yellow;
    float: left;
    display:flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    cursor: pointer;
}

#content {
    margin: 0 auto;
    height: auto;
    width: 650px;
    background-color: springgreen;
    border: 2px solid purple;
    border-top-width: 0px;
    padding: 5px;
}

p {
    font-style: italic
}

#Kronk {
    width:636px;
}