body {
    background-color: maroon;
    background-image: url(https://media4.giphy.com/media/FnatKdwxRxpVC/200.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    justify-content: center;
}

.container {
    display: flex;
}

.product1 {
    height: 100px;
    width: 100px;
    border-radius: 3px;
    background-color: darkslategray;
    border: 1px solid black;
    text-align: center;
    font-family: Verdana;
    color: cornsilk;
    background-image: url(https://media4.giphy.com/media/hvGKQL8lasDvIlWRBC/giphy.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.highlight {
    flex-grow: 1;
    border-radius: 3px;
    background-color: darkslategray;
    border: 1px solid black;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    height: 100px;
    font-family: Verdana;
    color: cornsilk;
    background-repeat: no-repeat;
    background-image: url(https://media.tenor.com/images/60107fd84057568b5028d0970a6663cc/tenor.gif);
    background-position-x: center;
    justify-content: center;
    background-size: 1050px 100px;
}

.product2 {
    height: 100px;
    width: 100px;
    border-radius: 3px;
    background-color: darkslategray;
    border: 1px solid black;
    text-align: center;
    font-family: Verdana;
    color: cornsilk;
    background-image: url(https://media4.giphy.com/media/hvGKQL8lasDvIlWRBC/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.product1 + .product2 {
    margin-left: 2%;
}

a:active {
    text-decoration: none;
}